/* 기본 초기화 및 폰트 */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Pretendard', sans-serif;
	background-color: #FAFAFA;
	color: #212121;
	/* 	color: rgb(var(- -bs-tertiary-color-rgb)); */
}

a {
	text-decoration: none;
	color: inherit;
}

/* 메인 컨테이너 */
.container {
	padding: 30px 5%;
	gap: 40px;
}

/* 화면 크기에 따른 페이지 컨테이너 사이즈 지정 ------------------------------ 1080 이하 수정 필요 ------------------------- */
@media ( max-width : 1080px) {
	#container {
		max-width: 100%;
	}
}

@media ( min-width : 1080px) {
	#container {
		max-width: 1040px;
	}
	.main-content {
		margin-right: 40px;
	}
}

@media ( min-width : 1200px) {
	#container {
		max-width: 1160px;
	}
	.main-content {
		margin-right: 40px;
	}
}

.v-line {
	border-left: 1px solid #DDD;
	width: 2px;
	align-items: stretch;
}

.small-btn {
	height: 30px !important;
	padding: 0px 10px !important;
}

/* 검색 섹션 */
.search-section {
	background-color: white;
	border: 1px solid #DDD;
	border-radius: 8px;
	padding: 10px 25px;
	display: flex;
	align-self: center;
	gap: 20px;
	width: 100%;
	margin: 30px 0px;
	/* flex-wrap: wrap; */
}

.search-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	padding: 15px;
	flex-shrink: 0;
}

.search-grid.date {
	height: 100%;
}

.search-grid.right {
	gap: 25px;
	flex-grow: 5;
}

@media ( min-width : 970px) {
	/* 970 이하 컨테이너 줄바꿈 처리 추가 필요======================= */
	/* 	.main-content {
		margin-right: 40px;
	} */
}

.search-option {
	/* 기간, 검색어, 카테고리 텍스트의 글자 css */
	font-size: 16px;
	font-weight: bold;
	width: 80px;
	flex-shrink: 0;
}

.bookmark-option {
	font-size: 16px;
	width: fit-content;
}

.bookmark-option:active {
	font-size: 16px;
	font-weight: bold;
	width: fit-content;
}

/* @media ( max-width : 1080px) {
	.search-grid {
		grid-template-rows: 3;
		grid-template-columns: repeat(2, 1fr);
	}
	.search-grid>*:nth-child(n+7) {
		display: none;
	}
} */
#btn-search {
	font-size: 12px;
	padding: 5px;
	flex-grow: 1;
}

.flex-area {
	display: flex;
	width: fit-content;
	gap: 5px;
	height: fit-content;
}

.flex-area.stretch {
	display: flex;
	width: 100%;
	flex-shrink: 1;
}

.form-search {
	flex-grow: 1;
}

.ui-datepicker {
    z-index: 1060 !important;
}

/* Bootstrap 폼 컨트롤과 jQuery UI Datepicker 아이콘 간격 조절 (선택 사항) */
.form-control.hasDatepicker + .ui-datepicker-trigger {
    margin-left: 5px;
}
/* 
.date-btn.selected {
  background-color: #0d6efd;
  color: #fff;
} */



input[type="checkbox"]{
	width: 20px;
	height: 20px;
	align-self: center;
	margin: 0px 5px;
}

.result-inform {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.flex-center {
	align-items: center;
}

.view-format {
	gap: 10px;
}

.view-button {
	text-decoration: none;
	color: gray
}




/* 섹션 제목 */
.section-title, .review-title, .today-title, .notice-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #6A1B9A;
}

/* 진행 중인 행사 카드 그리드 */
.events-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5px;
	margin-bottom: 20px;
}

/* 행사 카드 */
.event-card, .event-hover-thumbcard {
	background-color: white;
	border: 2px solid #D1C4E9;
	border-radius: 8px;
	position: relative;
	aspect-ratio: 1/1; /* 정사각형 비율 */
}

.rel{
    position: relative;
    margin-bottom: 5px;
	
}

.event-card .tag {
	position: absolute;
	bottom: 10px;
	left: 10px;
	background-color: #ea870e;
	color: white;
	font-size: 12px;
	padding: 2px 6px;
	border-radius: 4px;
}

.bookmark {
	position: absolute;
	top: 10px;
	right: 10px;
}

.event-info {
	padding: 16px;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* 행사 이름 텍스트 ---------------------------------------길어지면 줄임 설정 */
.event-name, .event-name-thumb {
	font-weight: bold;
	margin-bottom: 10px;
	color: #6A1B9A;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.event-name-thumb {
	margin-bottom: 5px;
}

.EventItemHover-img {
	width: 100%;
	height: 100%;
	border-radius: 7px;
	display: none;
	position: relative;
	
}

/* 1줄 이상 hidden 처리------------------------------------------------------- 추후 일괄 작업 */
.notice-title, #notice-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}


/* 캘린더============================================================================================== */

#calendar {
    max-width: 100%;
    height: fit-content;
    /* width: 100%;
    height: fit-content; */
    margin: 0 auto 50px;
  }
 
.fc-col-header-cell-cushion {
 color: black;
}
 
.fc-day-sun>*>.fc-col-header-cell-cushion {
 color: red;
}
.fc-day-sat>*>.fc-col-header-cell-cushion {
 color: blue;
}

.fc-daygrid-event {
	
}

/* .fc-h-event {
    background-color: #000000;
    border: 1px solid #000000;
    display: block;
} */

.fc-event-time {
	display: none;
}

.event-hover-thumbcard {
	width: 240px;
	height: 320px;
	display: flex;
	flex-direction: column;
	position:absolute;
	z-index: 500;
	display:none;
}

.thumbcard-img {
	width: 100%;
	aspect-ratio: 1/1;
	margin-bottom: 5px;
}

.event-org {
	font-size: 12px;
}